.entry {
    margin: 15px;
    padding: 5px;
    width: 45%;
    height: 80vh;
    border: 2px solid lightblue;
    box-shadow: 5px 5px grey;
    font-family: Menlo;
    font-size: 1.25em;
}
.controls {
    margin-top: 50px;
    padding: 15px;
    display: flex
}
.update {
    margin: 15px;
    padding: 5px;
    font-family: Menlo;
    display: flex;
}
.form {
    width: 45vw;
}